/* Feed */
.feed-content {
    margin-top: 75px;
    visibility: visible;
    display: block;
}
.feed-content.loading {
    visibility: hidden !important;
    display: none !important;
}
.feed-layout {
    column-count: 4;
    column-gap: 0;
}
.feed-layout .feed-layout__panel {
    break-inside: avoid;
    padding: 5px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.feed-layout .feed-layout__panel.expanded {
    left: 90px !important;
    width: calc(100% - 180px) !important;
    height: auto !important;
    z-index: 99;
}
.feed-layout .feed-layout__panel.closing {
    z-index: 99;
}
.feed-layout .feed-layout__panel.feed-modal {
    pointer-events: none;
}
.feed-layout .feed-layout__panel.feed-modal:before {
    content: '';
    background: rgba(0, 0, 0, .65);
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    z-index: 999;
    border-radius: 8px
}
.feed-layout .feed-layout__panel.feed-modal .feed-layout__modal {
    display: flex !important;
    pointer-events: all;
}
.feed-layout .feed-layout__panel-content {
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 2.5px 15px rgba(0, 0, 0, .3)
}
.feed-layout .feed-layout__modal {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.feed-layout .feed-layout__modal .feed-modal__button {
    border: none;
    background: #ecefe9;
    color: #444;
    padding: 7px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .25)
}
.feed-layout .feed-layout__modal .feed-modal__button.feed-modal__confirm {
    background: #c84328;
    color: #fff
}
.feed-layout .feed-layout__panel.expanded .feed-layout__panel-content {
    box-shadow: 0 2px 25px rgba(0, 0, 0, .65)
}
.feed-layout .feed-layout__panel-content:hover {
}
.feed-layout .feed-layout__panel-content img:not(.emojioneemoji) {
    width: 100%;
    display: block;
    z-index: 95;
}
.feed-layout .feed-layout__panel-content .emojioneemoji {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 1.5px;
}
.feed-layout .feed-layout__panel:not(.expanded) .feed-media {
    /*overflow: hidden;*/
    /*max-height: 550px;*/
    cursor: zoom-in;
}
.feed-layout .feed-layout__panel-content .feed-media img {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.feed-layout .feed-layout__panel-content .feed-details {
    padding: 10px;
    position: relative;
}
/* Feed header (Tags) */
.feed-layout .feed-layout__panel-content .feed-details__header {
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    z-index: 97;
}
.feed-layout .feed-layout__panel-content .feed-details__header:before {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, .4) 35%, rgba(255, 255, 255, .65) 55%, #fff 100%);
    left: 0;
    top: -45px;
    width: 100%;
    height: 75px;
    z-index: -1;
}
.feed-layout .feed-layout__panel-content .feed-details__tags {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    z-index: 99;
    color: rgba(125, 125, 125, 0.75);
    max-height: 30px;
    overflow: hidden;
    transition: color .35s ease-in-out
}
.feed-layout .feed-layout__panel-content .feed-details__tags > li {
    display: inline-block;
    margin: 0 2px;
}
.feed-layout .feed-details__tags .feed-tag {
    font-weight: 600;
    color: inherit;
}
.feed-layout .feed-details__tags .feed-tag:before {
    content: '#';
    color: inherit;
}
/* Feed content */
.feed-layout .feed-details__content {
    width: 100%;
    min-height: 20px;
}
.feed-layout .feed-details__content p {
    word-wrap: break-word;
    hyphens: auto;
}
/* Feed footer */
.feed-layout .feed-details__footer {
    display: flex;
    max-height: 36px;
    justify-content: center;
    align-items: center;
}
.feed-layout .feed-details__footer .feed-details__user {
    flex: 5;
    display: block;
    text-decoration: none;
    max-width: 55%;
    position: relative;
}
.feed-layout .feed-details__footer .feed-details__user .name {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    max-width: 75%;
}
.feed-layout .feed-details__footer .feed-details__user .name.verified:after,
.feed-layout .feed-details__footer .feed-details__user .name.admin:after,
.feed-details__comments .feed__comments .comment-item .avatar.admin:after,
.feed-details__comments .feed__comments .comment-item .avatar.verified:after {
    font-family: "FontAwesome";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 25px;
    bottom: 0;
    font-size: 13px;
    height: 20px;
    width: 20px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .35)
}
.feed-layout .feed-details__footer .feed-details__user .name.verified:after {
    content: '\f00c';
    color: #fff;
    background: #4b5bf1;
    font-size: 14px;
    padding: 0 0 0 3.5px
}
.feed-layout .feed-details__footer .feed-details__user .name.admin:after {
    content: '\f076';
    color: #fff;
    background: #da5656;
    font-size: 14px;
    padding: 0 0 0 4.25px
}
.feed-layout .feed-details__footer .feed-details__user .name span {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: calc(100% - 42px);
    max-height: 30px;
    word-wrap: break-word;
    line-height: 15px;
    position: absolute;
    left: 45px;
    top: 5px
}
.feed-layout .feed-details__footer .avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.feed-layout .feed-details__footer .avatar img {
    width: 100%;
    height: 100%;
}
.feed-layout .feed-details__footer .feed-details__actions {
    flex: 4;
    text-align: right;
    padding-right: 3px;
    line-height: 36px;
    position: relative
}
.feed-layout .feed-details__footer .feed-details__actions > a {
    display: inline-block;
    font-size: 20px;
    color: #888;
    margin: 0 0 0 7px;
    text-decoration: none;
    position: relative
}
.feed-layout .feed-details__footer .feed-like__count {
    font-size: 11px;
    vertical-align: top;
}
.feed-layout .feed-details__footer .feed-action__like {
    border: none;
    background: transparent;
    display: inline-block;
    font-size: 20px;
    color: #888;
    margin: 0;
    text-decoration: none;
    padding: 0;
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    outline: none;
}
.feed-layout .feed-details__footer .feed-action__like:before,
.feed-layout .feed-details__footer .feed-action__like:after {
    outline: none;
}
.feed-layout .feed-details__footer .feed-action__like .fa {
    padding-left: 1px
}
.feed-layout .feed-details__footer .feed-action__like svg {
    left: 0;
}
.feed-layout .feed-details__footer .feed-details__actions .feed-more__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    bottom: 5px;
    padding: 5px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(10,10,10,.25);
    z-index: 999;
    min-width: 120px;
}
.feed-layout .feed-details__footer .feed-details__actions.open .feed-more__list {
    display: flex !important;
}
.feed-layout .feed-details__footer .feed-details__actions .feed-more__list .feed-more__item {
    cursor: pointer;
    display: block;
    font-size: 14px;
    width: 100%;
    text-align: center
}
.feed-more__list .feed-more__item.feed-more__delete {
    color: #cc2317 !important;
    font-weight: 600;
}
.feed-layout .feed-details__footer .feed-details__actions .feed-more__list .feed-more__item i {
    color: inherit;
    font-size: inherit;
    user-select: none;
    pointer-events: none;
}
.feed-layout .feed-details__footer .feed-details__actions .feed-more__list .feed-more__item span {
    color: inherit;
    font-size: inherit;
    user-select: none;
    pointer-events: none;
}
.feed-layout .feed-details__date {
    text-align: right;
    font-size: .85em;
    color: #a2a1a1;
}
.feed-layout__panel .feed-details__expandable {
    display: none;
}
.feed-layout__panel.expanded .feed-details__expandable {
    display: block;
}
.feed-layout__panel .feed-details__comments {
    position: relative;
    margin: 12px 0;
}
.feed-layout__panel .feed-details__comments .feed-comment__button{
    width: 130px;
    padding: 8px 15px;
    border: none;
    background: #6770f6;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    border-radius: 10px;
    float: right;
}

.feed-details__comments.replying .feed-comment__cancel-reply {
    display: inline-block !important;
}

.feed-layout__panel .feed-details__comments .feed-comment__cancel-reply {
    background: transparent;
    padding: 10px 2px;
    display: none;
}

.feed-layout .feed-details__comments .emojioneemoji {
    width: 20px;
    height: 20px;
}

.feed-layout .feed-details__comments .emojionearea {
    z-index: 999;
}

.feed-details__comments .feed__comments {
    position: relative;
    clear: both;
}

.feed__comments.block-loading {
    padding: 20px 0;
}

.feed-details__comments .feed__comments a {
    text-decoration: none;
}

.feed-details__comments .feed__comments .feed-comments__list {
    padding: 0;
    clear: both;
    list-style: none;
}

.feed-details__comments .feed__comments .feed-comments__list li {
    list-style: none;
}

.feed-details__comments .feed__comments .feed-comments__list:first-child {
    margin-left: 0 !important;
}

.feed-details__comments .feed__comments .feed-comments__list:nth-child(n) {
    margin-left: 20px;
}

.feed-details__comments .feed__comments .comment-item {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
}

.feed-details__comments .feed__comments .comment-item .avatar {
    width: 50px;
    height: 50px;
    float: left;
    padding: 3px;
    position: relative;
}

.feed-details__comments .feed__comments .comment-item .avatar.admin:after {
    left: 30px;
    bottom: -2px;
    content: '\f076';
    color: #fff;
    background: #da5656;
    font-size: 14px;
    padding: 0 0 0 4.25px
}

.feed-details__comments .feed__comments .comment-item .avatar.verified:after {
    left: 30px;
    bottom: -2px;
    content: '\f00c';
    color: #fff;
    background: #4b5bf1;
    font-size: 14px;
    padding: 0 0 0 3.5px
}

.feed-details__comments .feed__comments .comment-item .avatar img {
    max-width: 100%;
}

.feed-details__comments .feed__comments .comment-item .details {
    float: left;
    line-height: 25px;
    width: calc(99% - 100px);
    padding: 0 10px;
    margin: 0 0 2px
}

.feed-details__comments .feed__comments .comment-item .details .meta {
    padding: 3px;
}

.feed-details__comments .feed__comments .comment-item .details .body p {
    margin-bottom: 0px;
}

.comment-item .actions .time {
    margin-right: 10px;
    font-size: 12px;
    color: #777;
    line-height: 34px;
    display: inline-block;
}

.comment-item .action-list {
    list-style: none;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.comment-item .action-list li {
    float: left;
    margin-right: 10px;
}

.comment-item .action-list li a {
    display: inline-block;
}

.comment-item .details .actions .action-list #like-button {
    padding: 0 5px;
}

.comment-item .details .actions .action-list #like-button.liked {
    -webkit-animation: 1s ease-in-out rubberBand;
    -o-animation: 1s ease-in-out rubberBand;
    animation: 1s ease-in-out rubberBand;
}

.comment-item .details .actions .action-list #like-button:before {
    content: '\f087';
    font-family: FontAwesome;
    padding-right: 5px;
    font-size: 17px;
    vertical-align: middle;
}

.comment-item .details .actions .action-list #like-button.liked:before {
    content: '\f164';
}

.feed-sizer {
    margin-bottom: 0 !important;
}

.feed-layout .feed-layout__panel,
.feed-layout .feed-sizer {
    width: calc(50% - 12px);
    margin: 0 6px 10px;
}
.js .grid--loading::before,
.js .grid--loading::after {
    content: '';
    z-index: 1000;
}

.js .grid--loading::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2c2d31;
}

.js .grid--loading::after {
    position: absolute;
    top: calc(25vh - 20px);
    left: 50%;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -20px;
    border: 8px solid #383a41;
    border-bottom-color: #565963;
    border-radius: 50%;
    animation: animLoader 0.8s linear forwards infinite;
}

.emojionearea .emojionearea-picker {
    z-index: 99999 !important;
}

@media screen and (max-width: 768px) {
    .feed-layout .feed-layout__panel,
    .feed-layout .feed-sizer {
        width: calc(100% - 8px) !important;
        margin: 0 4px 10px;
    }
    .feed-layout .feed-layout__panel.expanded {
        left: 0px !important;
        width: calc(100% - 8px) !important;
    }
}
@media screen and (min-width: 991px) {
    .feed-layout .feed-layout__panel,
    .feed-layout .feed-sizer {
        width: calc((100% / 3) - 10px) !important;
        margin: 0 5px 8px;
    }
    .feed-layout .feed-layout__panel.expanded {
        left: 90px !important;
        width: calc(100% - 180px) !important;
    }
}
@media screen and (min-width: 1200px) {
    .feed-layout .feed-layout__panel, .feed-sizer {
        width: calc(25% - 6px) !important;
        margin: 0 3px 5px;
    }
    .feed-layout .feed-layout__panel.expanded {
        left: 120px !important;
        width: calc(100% - 240px) !important;
    }
}
@media screen and (min-width: 1550px) {
    .feed-layout .feed-layout__panel, .feed-sizer {
        width: calc(20% - 6px) !important;
        margin: 0 3px 5px;
    }
}
.feed-loader {
    text-align: center;
    opacity: 1;
    margin: 20px 0;
}
.feed-loader.requesting {
    opacity: .55;
    pointer-events: none;
}
.feed-loader button {
    border: none;
    background: #fff;
    padding: 10px 25px;
    color: #222;
    border-radius: 12px;
    outline: none;
}
/* Feed panel hover */
.feed-layout__panel:hover .feed-details__header:before {
    background: linear-gradient(to bottom, transparent 0%, #111 100%);
}
.feed-layout__panel:hover .feed-details__tags {
    color: rgb(225, 225, 225);
}