html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin: 0;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #29628f 0%, #0b3152 100%);
}

.box {
    width: 700px;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    display: block;
    width: 70px;
    height: 70px;
}

.callout {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

.description {
    font-size: 22px;
    font-weight: 400;
    color: #aaa;
    line-height: 35px;
}

.enter-box {
    margin: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.enter-box .number-box {
    height: 100px;
    background-color: #fff;
    margin: 0 15px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    font-size: 75px;
    color: #111;
    border: none;
    overflow: hidden;
	padding-left: 15px;
}

.error {
    color: #e63929;
}

.error h3 {
    text-transform: uppercase;
}

.resend {
    margin-bottom: 25px;
}

.resend .resend-button {
    border: 0;
    background: #19476E;
    padding: 18px 40px;
    font-size: 20px;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 1px 20px -3px rgba(0, 0, 0, .35);
}

.resend.sending {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
}

.resend span {
    color: #eee;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 40px;
    display: inline-block;
    background: #6dc76d;
    border-radius: 25px;
}

.center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

@media screen and (max-width: 700px) {
    .box {
        width: 85%;
    }

    .enter-box {
        margin: 40px 0;
    }

    .enter-box .number-box {
        margin: 0 3px;
        font-size: 65px;
        height: 85px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .callout {
        font-size: 42px;
    }

    .description {
        font-size: 17px;
    }
}